/* body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #result-table {
    margin-top: 20px;
  }

  #result-table table {
    width: 100%;
    border-collapse: collapse;
  }

  #result-table th, #result-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }

  #result-table th {
    background-color: #4CAF50;
    color: white;
  }

  .range-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 10px;
  }
  
  .separator {
    width: 100%;
    margin-bottom: 10px;
  }
   */

   body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  #pairs-container {
    margin-bottom: 20px;
  }
  
  .pair {
    display: flex;
    margin-bottom: 10px;
  }
  
  input {
    padding: 5px;
    width: 200px;
    margin-right:20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #message {
    margin-bottom: 20px;
  }
  
  #pairs-table {
    margin-bottom: 20px;
    border-collapse: collapse;
    width: 100%;
  }
  
  #pairs-table th,
  #pairs-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  
  #pairs-table th {
    background-color: #4CAF50;
    color: white;
  }
  
  .pair-header {
    font-weight: bold;
  }
  
  .range-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 10px;
  }
  
  .range-list li {
    margin-bottom: 5px;
  }
  
  .separator {
    width: 100%;
    margin-bottom: 10px;
  }
  