body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
}

#pairs-container {
  margin-bottom: 20px;
}

.pair {
  display: flex;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  width: 200px;
  margin-right: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

#message {
  margin-bottom: 20px;
}

#pairs-table {
  border-collapse: collapse;
  width: 100%;
}

#pairs-table th,
#pairs-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

#pairs-table th {
  background-color: #f2f2f2;
}

.pair-header {
  font-weight: bold;
}

.highlighted {
  font-weight: bold;
}

#pairs-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid black;
}

.index-cell {
  width: 2px;
  color:#4c6daf;
}

.value-cell {
  width: 60px;
  align-content: center;
}

#pairs-table th.subheader {
  background-color: #f2f2f2;
}

#pairs-table th.index-subheader {
  width: 10px;
}

#pairs-table th.value-subheader {
  width: 60px;
}